{% extends 'base.html' %}

{% block content %}
    <main>
        <div>
            <h1>My Tasks</h1>


            {% if task_list %}
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Start date</th>
                        <th>End date</th>
                        <th>Is completed</th>
                    </tr>
                    {% for item in task_list.all %}
                        <tbody>
                            <td>{{ item.name }}</td>
                            <td>{{ item.start_date }}</td>
                            <td>{{ item.due_date }}</td>
                            <td>
                                {% if item.is_completed %}
                                    Done
                                {% else %}
                                    <form method="post" action="{% url 'complete_task' item.id %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="is_completed" value="True">
                                        <button>Complete</button>
                                    </form>


                                {% endif %}
                            </td>
                    {% endfor %}

                </tbody>
                </table>

            {% else %}
                <p>You have no tasks</p>
            {% endif %}
        </div>
    </main>
{% endblock content %}