{% extends 'base.html' %}
{% load markdownify %}

{% block content %}
    <main>
        <div>
            <h1>{{ project.name }}</h1>
            {{ project.description|markdownify }}
            <h2>Tasks</h2>
            <a href="{% url  'create_task' %}">Create a new task</a>

            {% if  project.tasks.count > 0 %}
                <table>

                    <tr>
                        <th>Name</th>
                        <th>Assignee</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </tr>


                    <tbody>

                        {% for task in project.tasks.all %}
                            <tr>
                                <td>{{ task.name }}</td>
                                <td>{{ task.assignee }}</td>
                                <td>{{ task.start_date }}</td>
                                <td>{{ task.due_date }}</td>
                                <td>
                                    {% if task.is_completed %}
                                        yes
                                    {% else %}
                                        no
                                    {% endif %}</td>

                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

            {% else %}

                <p> This project has no tasks</p>
            {% endif %}


        </div>

    </main>

{% endblock content %}


