{% extends 'base.html' %}

{% block content %}
    <main>
        <div>
            <h1> My Projects</h1>

            <a href="{% url 'create_project' %}">Create a new project</a>
            {% if list_projects|length == 0 %}
                <p> You are not assigned to any projects</p>
            {% else %}
                <table>
                    <thead>
                        <th>Name</th>
                        <th>Number of tasks</th>
                    </thead>
                    {% for project in list_projects %}
                        <tr>
                            <td><a href="{% url 'show_project' project.id %}">{{project.name}}</a></td>
                            <td>{{ project.tasks.count }}</td>

                        </tr>
                    {% endfor %}
                </table>

            {% endif %}

        </div>

    </main>
{% endblock content %}